<div class="header">
  <app-header></app-header>
</div>
<div class="app-container">
  <div class="menu-container">
      <ul class="menu">
        <li><a routerLinkActive="active" [routerLink]="'/dashboard'">Dashboard</a></li>
        <li><a routerLinkActive="active" [routerLink]="'/templates'">Templates</a></li>
        <li>Admin
          <ul>
            <li><a routerLinkActive="active" [routerLink]="'/admin/close-quarter'">Close Quarter</a></li>
            <li><a routerLinkActive="active" [routerLink]="'/admin/le-calculation'">LE Calculation</a></li>
            <li><a routerLinkActive="active" [routerLink]="'/admin/rounding-model-calculation'">Rounding Model Calculation</a></li>
          </ul>
        </li>
        <li>Role
          <ul>
            <li><a routerLinkActive="active" [routerLink]="'/role/role-definition'">Role Definition</a></li>
            <li><a routerLinkActive="active" [routerLink]="'/role/role-assignment'">Role Assignment</a></li>
          </ul>
        </li>
        <li>Restatement
          <ul>
            <li><a routerLinkActive="active" [routerLink]="'/restatement/initiate-and-define'">Initiate and Define</a></li>
            <li><a routerLinkActive="active" [routerLink]="'/restatement/track-and-action'">Track and Action</a></li>
          </ul>
        </li>
        <li><a routerLinkActive="active" [routerLink]="'/rxjs-learning'">RxJS Playground</a></li>
        <li><a routerLinkActive="active" [routerLink]="'/signals-learning'">Signals Learning</a></li>
      </ul>
  </div>
  <div class="content-container">
      <router-outlet></router-outlet>
  </div>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>