<div class="page-container initiate-define">
  <p class="page-title">Initiate & Define</p>
  <mat-tab-group>
    <mat-tab label="First">
      <h4>First Tab Content </h4><br />Angular Material tabs organize content into
      separate views where only one view can be visible at a time. Each tab's
      label is shown in the tab header and the active tab's label is designated
      with the animated ink bar. When the list of tab labels exceeds the width
      of the header, pagination controls appear to let the user scroll left and
      right across the labels.
    </mat-tab>
    <mat-tab label="Second">
      <h4>Second Tab Content</h4><br />By default, the tab contents are eagerly
      loaded. Eagerly loaded tabs will initialize the child components but not
      inject them into the DOM until the tab is activated. If the tab contains
      several complex child components or the tab's contents rely on DOM
      calculations during initialization, it is advised to lazy load the tab's
      content. Tab contents can be lazy loaded by declaring the body in a
      ng-template with the matTabContent attribute.
    </mat-tab>
    <mat-tab label="Third">
      <h4>Third Tab Content</h4><br />The tooltip will be displayed below the
      element by default, but this can be configured using the
      matTooltipPosition input. The tooltip can be displayed above, below, left,
      or right of the element. If the tooltip should switch left/right positions
      in an RTL layout direction, then the input values before and after should
      be used instead of left and right, respectively.
    </mat-tab>
  </mat-tab-group>
</div>
